<div class="container">
  <ul class="nav nav-pills">
    <li><a routerLinkActive="active" routerLink="/home">HOME</a></li>
    <li><a routerLinkActive="active" routerLink="/login">LOGIN</a></li>
    <li><a (click)="logout()">LOGOUT</a></li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>